<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Services Document</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1 style="color: red;">This is our officeal Services website.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, reprehenderit. Reprehenderit vero et quo unde pariatur minus magni, nulla odit, nam ab veritatis modi vitae. Facilis asperiores amet blanditiis quis, sint molestias at tenetur, dolores culpa consequuntur ab nemo. Recusandae et eaque non error qui porro id accusamus obcaecati vel?</p>
        <button>Contact us</button>
    </div>
</body>
</html>